      <section id="contribution" class="page">
        <h1 class="pageHeading" i18n-content="contribution"></h1>
        <section>
          <h1 class="sectionHeading" i18n-content="spreadTheWord"></h1>
          <p class="sectionText" i18n-content="spreadTheWordWhyNot"></p>
          <p class="sectionText" i18n-content="spreadTheWordWays"></p>
          <ul class="list">
            <li class="listItem" i18n-content="spreadTheWordFollowUs"></li>
            <li class="listItem" i18n-content="spreadTheWordInstallationLink"></li>
            <li class="listItem" i18n-content="spreadTheWordRateLink"></li>
          </ul>
        </section>
        <section>
          <h1 class="sectionHeading" i18n-content="translation"></h1>
          <p class="sectionText" i18n-content="translationParagraph1"></p>
          <p class="sectionText" i18n-content="translationParagraph2"></p>
          <p class="sectionText" i18n-content="translationParagraph3"></p>
        </section>
        <section>
          <h1 class="sectionHeading" i18n-content="incentive"></h1>
          <p class="sectionText" i18n-content="incentiveParagraph"></p>
        </section>
      </section>
