html {
  font-size: 62.5%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
section {
  display: none;
  max-width: 50rem;
  margin: auto;
}
h1 {
  font-size: 1.7em;
}
ul,
ol {
  margin: 0 0 2rem;
  padding: 0 0 0 1.5rem;
}
p,
li {
  font-size: 1.5em;
  line-height: 1.5;
}
li {
  margin-bottom: 1rem;
}
figure {
  margin: 0;
  padding: 1.5rem 0;
}
img {
  border-left: .1rem solid #eee;
  border-right: .1rem solid #eee;
  width: 25rem;
  height: 15.6rem;
}
aside p {
  font-size: small;
  font-weight: bold;
}

/* v0.6.5 */

.list {
  margin-top: -1rem;
}
.listItem {
  list-style-type: circle;
  margin-bottom: 0;
}
