      <section id="about" class="page">
        <h1 i18n-content="about" class="pageHeading"></h1>
        <figure id="logoName" class="clearfix">
          <img src="/global/img/pozitone.svg" id="logo">
          <figcaption id="name"></figcaption>
        </figure>
        <nav id="supportMenu" class="clearfix">
          <a
            target="_blank"
            class="supportMenuItem cta hasText externalLink"
            data-id="readme"
            i18n-content="optionsInfo"
              ></a>
          <a
            ng-href="#/feedback"
            class="supportMenuItem cta hasText"
            i18n-content="optionsContact"
              ></a>
        </nav>
        <p id="versionInfo">
          <span i18n-content="optionsVersion"></span>
          <span id="version"></span>
          (<a
            i18n-content="versionHistory"
            class="externalLink"
            data-id="versionHistory"
              ></a>)
        </p>
        <footer id="aboutFooter">
          <p i18n-content="extensionName" class="aboutFooterLine"></p>
          <p i18n-content="optionsCopyright" class="aboutFooterLine"></p>
          <p i18n-content="optionsFoundation" class="aboutFooterLine"></p>
          <p i18n-content="optionsTerms" class="aboutFooterLine"></p>
        </footer>
      </section>
